# ======================
# Backend (Python)
# ======================
backend/venv/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.env
tasks.db

# ======================
# Frontend (React / Vite)
# ======================
node_modules/
dist/
frontend/**/node_modules/
frontend/**/dist/
backend/uploads/*
!backend/uploads/README.md
!backend/uploads/requirements.txt
